/* CSS Document */
*{padding:0;margin:0;font-family:"Microsoft YaHei","微软雅黑";word-break:break-all;}
body,html{width:100%;overflow-x:hidden;position:relative;font-size:14px;background-color: #fff;}
a{text-decoration:none;cursor:pointer;}
.pull-left{float:left;}
.pull-right{float: right;}
/*垂直居中*/
.ib_dis_content:before{content: "";height:100%;display: inline-block;vertical-align: middle;}
.ib_dis_content>span{display: inline-block;vertical-align: middle;}
@media only screen and (max-width: 750px), only screen and (max-device-width:750px) {html,body{font-size:20px;}}
@media only screen and (max-width: 720px), only screen and (max-device-width:720px) {html,body{font-size:19.2px;}}
@media only screen and (max-width: 640px), only screen and (max-device-width:640px) {html,body{font-size:17.07px;}}
@media only screen and (max-width: 600px), only screen and (max-device-width:600px) {html,body{font-size:16px;}}
@media only screen and (max-width: 540px), only screen and (max-device-width:540px) {html,body{font-size:14.4px;}}
@media only screen and (max-width: 480px), only screen and (max-device-width:480px) {html,body{font-size:12.8px;}}
@media only screen and (max-width: 414px), only screen and (max-device-width:414px) {html,body{font-size:11.04px;}}
@media only screen and (max-width: 400px), only screen and (max-device-width:400px) {html,body{font-size:10.67px;}}
@media only screen and (max-width: 375px), only screen and (max-device-width:375px) {html,body{font-size:10px;}}
@media only screen and (max-width: 360px), only screen and (max-device-width:360px) {html,body{font-size:9.6px;}}
@media only screen and (max-width: 320px), only screen and (max-device-width:320px) {html,body{font-size:8.53px;}}
@media only screen and (max-width: 240px), only screen and (max-device-width:240px) {html,body{font-size:6.4px;}}

.wrapper{max-width: 640px;margin: 0 auto;font-size: 1.4rem;}