@charset "utf-8";
/* CSS Document */
*{padding:0;margin:0 auto;font-family:"Microsoft YaHei","微软雅黑";word-break:break-all;}
body,html{width:100%;overflow-x:hidden;position:relative;font-size:17.07px;background-color: #fff;}
a{text-decoration:none;cursor:pointer;}
.pull-left{float:left;}
.pull-right{float: right;}

/*垂直居中*/
.ib_dis_content:before{content: "";height:100%;display: inline-block;vertical-align: middle;}
.ib_dis_content>span{display: inline-block;vertical-align: middle;}
@media only screen and (max-width: 640px), only screen and (max-device-width:640px) {html,body{font-size:17.07px;}}
@media only screen and (max-width: 600px), only screen and (max-device-width:600px) {html,body{font-size:16px;}}
@media only screen and (max-width: 540px), only screen and (max-device-width:540px) {html,body{font-size:14.4px;}}
@media only screen and (max-width: 480px), only screen and (max-device-width:480px) {html,body{font-size:12.8px;}}
@media only screen and (max-width: 414px), only screen and (max-device-width:414px) {html,body{font-size:11.04px;}}
@media only screen and (max-width: 400px), only screen and (max-device-width:400px) {html,body{font-size:10.67px;}}
@media only screen and (max-width: 375px), only screen and (max-device-width:375px) {html,body{font-size:10px;}}
@media only screen and (max-width: 360px), only screen and (max-device-width:360px) {html,body{font-size:9.6px;}}
@media only screen and (max-width: 320px), only screen and (max-device-width:320px) {html,body{font-size:8.53px;}}
@media only screen and (max-width: 240px), only screen and (max-device-width:240px) {html,body{font-size:6.4px;}}
.has-icon{padding-left:3rem;position: relative;height:5.4rem;line-height: 5.4rem;}
.has-icon>span{display: inline-block;vertical-align: middle;line-height: 2.2rem;}
.has-icon:before{content: "";position: absolute;z-index: 11;left: 0;top:0;width: 3rem;height: 100%;}
.has-icon.icon-home:before{content: "";background: url(../img/icon_restaurant.png) no-repeat;background-size: 2rem;background-position: center center;}
.has-icon.icon-position:before{content: "";background: url(../img/icon_location.png) no-repeat;background-size: 2rem;background-position: center center;}

.wrapper{max-width:640px;margin:0 auto;overflow-x:hidden;}
/*页面加载的样式*/
.page_mask{position: fixed;z-index: 11111;top:0;left:0;width:100%;height:100%;background-color: rgba(0,0,0,.2);-webkit-animation: fadein 0.3s 1 ease-in-out;animation: fadein 0.3s 1 ease-in-out;}
@-webkit-keyframes fadein {from {background-color: rgba(0,0,0,0)} to {background-color: rgba(0,0,0,.2)}}
@keyframes fadein { from {background-color: rgba(0,0,0,0)} to {background-color: rgba(0,0,0,.2)}}

.spinner{height:50px;padding-top:200px;}
.spinner>div {background-color: #db3644;height: 100%;width: 6px;display: inline-block;-webkit-animation: stretchdelay 1.2s infinite ease-in-out;animation: stretchdelay 1.2s infinite ease-in-out;}
.spinner .rect2 {-webkit-animation-delay: -1.1s;animation-delay: -1.1s;}
.spinner .rect3 {-webkit-animation-delay: -1.0s;animation-delay: -1.0s;}
.spinner .rect4 {-webkit-animation-delay: -0.9s;animation-delay: -0.9s;}
.spinner .rect5 {-webkit-animation-delay: -0.8s;animation-delay: -0.8s;}
@-webkit-keyframes stretchdelay {0%, 40%, 100% { -webkit-transform: scaleY(0.4) } 20% { -webkit-transform: scaleY(1.0) }}
@keyframes stretchdelay { 0%, 40%, 100% {transform: scaleY(0.4);-webkit-transform: scaleY(0.4);}  20% {transform: scaleY(1.0);-webkit-transform: scaleY(1.0);}}

/* 弹出框的样式 */
.alert-wrap{width:30rem;position: fixed;top:15rem;z-index:11111;border-radius:3px;overflow:hidden;left:0;right:0;margin:0 auto;background-color: #fff;-webkit-animation: alert .3s 1 ease-in-out;animation: alert .3s 1 ease-in-out;}
.alert-hd{height:3.18rem;text-align: center;font-size:1.6rem;padding:1.93rem 0 .57rem;line-height: 3.18rem;color:#333;}
.alert-bd{min-height:4.16rem;padding-bottom: 1.04rem;text-align: center;color:#999;padding:0 2.3rem;font-size:1.6rem;}
.alert-ft{height:4.8rem;line-height: 4.8rem;border-top:1px solid #d5d5d6;color:#f90;text-align: center;font-size: 1.8rem;}
.alert-ft:active{background-color: #EEE;}
@-webkit-keyframes alert {from {top:13rem;width:32rem;opacity:.6;} to {top:15rem;width:30rem;opacity:1;}}
@keyframes alert {from {top:13rem;width:32rem;opacity:.6;} to {top:15rem;width:30rem;opacity:1;}}


/* 有下载app的样式，没有时直接remove掉has-download-app */
.wrapper.has-download-app{padding-top:4rem;}
.wrapper.has-footer{padding-bottom:5rem;}
.wrapper div.download-app{width:100%;height:2.6rem;background-color: #db3644;padding:.7rem 0;display: block;}
.wrapper div.download-app>div.download-des{padding-left:1.2rem;height:2.6rem;line-height: 2.6rem;}
.wrapper div.download-app>div.download-des>img{width:2rem;display: inline-block;vertical-align: middle;}
.wrapper div.download-app>div.download-des>span{padding-left:1rem;color: #fff;font-size:1.2rem;display: inline-block;vertical-align: middle;}
.wrapper div.download-app>.download-now{width:9.7rem;height:2.6rem;background-color: #fff;color:#DB666E;line-height: 2.6rem;text-align: center;border-radius:3px;margin-right:.3rem;font-size:1.2rem;}

/*大图部分*/
.adv{width:100%;height:28.9rem;background: url(../img/adv_banner.png) no-repeat;background-size: 100%;position: relative;}
.activity-rule{position: absolute;width:7rem;height:2rem;border-radius:3px;z-index: 1;text-align: center;line-height: 2rem;font-size:1.2rem;background-color: rgba(0,0,0,.4);right:.2rem;top:1.5rem;color:#fff;}
/*主体部分*/

/*倒计时部分*/
.count-down>p{height:2.8rem;line-height: 2.8rem;text-align: center;color:#D0021B;font-size: 2rem;font-weight: 700;margin:.6rem 0;}
.count-down>p.un-suc{color:#333;}
.remain-time{width:24.6rem;height:4.2rem;background: url(../img/count_down_bg.png);background-size: 100%;line-height: 4.2rem;text-align: center;}
.remain-time>div.num{width:1.9rem;height:2.3rem;display: inline-block;background-color: #fff;border-radius: 3px;vertical-align: middle;font-size: 2rem;color:#D0021B;line-height: 2.3rem;text-align: center;font-weight: 700;}
.remain-time>span{color:#fff;font-size: 1.8rem;}

.share-people{}
.share-people-pic{text-align: center;margin: 1.2rem 0;}
.share-people-pic>div.pic-wap{height:4.4rem;width: 4.4rem;display: inline-block;vertical-align: middle;}
.share-people-pic>div.pic-wap>div.head-short-cut{width:3rem;height:3rem;border-radius:50%;overflow: hidden;margin:.7rem;}
.share-people-pic>div.pic-wap>div.head-short-cut>img{width:100%;height:100%;}
/* 发起人样式 */
.share-people-pic>div.pic-wap.initiator{position: relative;}
.share-people-pic>div.pic-wap.initiator:before{content:"发起人";display: block;position: absolute;left: 0;top:0;width: 3rem;text-align: center;font-size: .9rem;color:#fff;height: 1.3rem;line-height: 1.3rem;z-index: 11;background-color: #D0021B;}
/*详情*/
.share-detail>p{font-size: 1.4rem;text-align: center;line-height: 2.4rem;height:2.4rem;color:#666;}
.share-detail>p.will-reword{color:#333;}
.share-detail>p>span.per-money{font-size:2rem;color:#D0021B;}
.share-detail>p>span.reward-money{color:#D0021B;}

/*接受邀请*/
.accep-invitation{width: 100%;height:5rem;line-height: 5rem;text-align: center;background-color: #D0021B;color:#fff;position: fixed;left:0;right:0;max-width: 640px;bottom:0;font-size: 1.4rem;z-index: 1111;}
.accep-invitation.already-paid{border-top:1px #f1F1F1 solid;background-color: #fff;color:#D0021B}


/*邀请订单详情*/
.order-detail-title{text-align: center;height: 4rem;line-height: 4rem;}
.order-detail-title>span{color:#CB202D;font-size: 1.4rem;line-height: 4rem;position: relative;padding-right: 1.8rem;height: 4rem;}
.order-detail-title>span:after{content:"";display: block;width:1.3rem;height:4rem; position: absolute;z-index: 11;top:0;right: 0;}
.order-detail-title>span.closed:after{background: url(../img/pulldown.png) no-repeat;background-size: 1.3rem;background-position: center center;}
.order-detail-title>span.opened:after{background: url(../img/pullup.png) no-repeat;background-size: 1.3rem;background-position: center center;}

.order-detail-list{width:33rem;margin:0 auto 3rem;padding-bottom:2.5rem;background: url(../img/border.png) no-repeat;background-size: 100% 100%;}
.detail-part-title{width:30.4rem;height:5.4rem;font-size:1.5rem;text-align: center;color: #333;margin:0 auto;line-height: 5.4rem;border-bottom: 1px #F0F0F0 solid;font-weight: 700;}
.detail-spacies{width:30.4rem;margin: 0 auto;}
.detail-part{width:37.5rem;margin-left:-2.25rem;}
.detail-part.stick-border{border-bottom: 10px #F0F0F0 solid;}
.detail-spacies>p{font-size:1.4rem;border-bottom: 1px #F0F0F0 solid;}
.detail-spacies>p.all-letters{line-height: 2.2rem;padding:.7rem .5rem;}
.detail-spacies>p.all-letters.no-border{border:none;}
.detail-spacies>p.form-like{padding:0 .5rem;height:5.4rem;line-height: 5.4rem;}
.detail-spacies>p.form-like.no-border{border : none;}
.detail-spacies>p.form-like>span{height: 5.4rem;line-height: 5.4rem;text-align: left;display: inline-block;}
.detail-spacies>p.form-like>span:first-child{width:11rem;}
.detail-spacies>p.stick-border{border-bottom: 10px #FAFAFA solid;}
.detail-spacies>p.no-border{border:none;}
/*付款页面*/
.order-detail-list.wechat-pay-detail{border:none;padding-bottom:0;margin:0 auto;background: none;}
.detail-spacies>p.form-like>input[type="text"].single{width:100%;height:100%;border:none;outline: none;font-size: 1.4rem;}
.detail-spacies>p.form-like>input[type="number"].single{width:100%;height:100%;border:none;outline: none;font-size: 1.4rem;}

.go-wecart-pay{width: 100%;height:5rem;line-height: 5rem;text-align: right;background-color: #fff;color:#fff;position: fixed;left:0;right:0;max-width: 640px;bottom:0;font-size: 1.4rem;z-index: 1111;}
.count-total{display: inline-block;height:5rem;line-height: 5rem;text-align: right;color:#D0021B;padding-right: .9rem;font-size: 1.5rem;}
.chat-pay-btn{display: inline-block;width:8rem;background-color: #3A8D1C;height:5rem;line-height: 5rem;font-size: 1.5rem;color:#fff;padding-left:5rem;position: relative;text-align: left;}
.chat-pay-btn:before{content: "";position:absolute;width:5rem;height:5rem;background: url(../img/icon_wechat_pay.png) no-repeat;background-size: 2.36rem 2.06rem;background-position: 2rem 1.2rem;top:0;left:0;}

/*微信支付倒计时部分*/
.wecharpay-count-down{padding:1.5rem 0 1rem;background-color: #FAFAFA;width:37.5rem;margin-left:-2.25rem;}
.wecharpay-count-down>p{height:2rem;line-height: 2rem;text-align: center;color:#999;font-size: 1.4rem;}
.wecharpay-remain-time{width:24.6rem;height:2.1rem;background-size: 100%;line-height: 2.1rem;text-align: center;margin-bottom: .2rem;}
.wecharpay-remain-time>div.num{height:2.1rem;display: inline-block;background-color: #fff;border-radius: 3px;vertical-align: middle;font-size: 1.8rem;color:#333;line-height: 2.1rem;text-align: center;}
.wecharpay-remain-time>span{color:#333;font-size: 1.8rem;}
/*404*/
.error-pin{width:2.8rem;height:2.8rem;display:block;margin:auto;margin-bottom:-2.7rem;z-index:10;position:relative;background:url("../img/error-pin.png") no-repeat center center;background-size:100%;margin-top:5rem;}
.error-hanger{width:18rem;height:14rem;padding:7rem 1.6rem 0 1.6rem;position:relative;margin:auto;margin-bottom:2rem;z-index:5;line-height:1;font-size:3.2rem;text-align:center;background:url("../img/error-hanger.png") no-repeat center center;background-size:100%;transform-origin:center top;animation:error-swing infinite 2s ease-in-out alternate;}
.error-hanger>span{font-size: 9.6rem;display: block;}
.error-hanger>span.tip{font-size:2rem;line-height: 3rem;padding-top:3rem;}
@-webkit-keyframes error-swing{0%{-webkit-transform:rotate(1deg)}100%{-webkit-transform:rotate(-2deg)}}
@-moz-keyframes error-swing{0%{-moz-transform:rotate(1deg)}100%{-moz-transform:rotate(-2deg)}}
@keyframes error-swing{0%{transform:rotate(1deg)}100%{transform:rotate(-2deg)}}
.user-name-404{font-size:1.8rem;height:5rem;line-height: 5rem;}
.content-404{width:80%;margin:0 auto;font-size: 1.4rem;line-height: 2rem;}
.sign-404{text-align: right; font-size: 1.8rem;}


/*活动规则页面*/
.activity-home{background:#c62443 url(../img/activity_bg_750.png) no-repeat;background-size: 100%;font-family:"宋体";}
.empaty-for-xiaomi-mobile{height:24rem;width:100%;}
.activity-havey-words{text-align: center;font-size: 2.1rem;color: #fff;font-family:"宋体";}
.activity-havey-words.blod{font-weight: 700;}
.activity-reward-max-money{color:#F8E71C;font-size: 3rem;}
.activity-steps{padding-top:2rem;position: relative;}
.activity-step1{background: url(../img/first_step.png) no-repeat;background-size: 100%;background-position: 0 0;height:8.4rem;line-height: 2.9rem;width:22rem;margin:0 auto;padding:4.1rem 5.7rem 0;}
.activity-step2{background: url(../img/second_step.png) no-repeat;background-size: 100%;background-position: 0 0;padding:3.8rem 5.7rem 0;height:5.2rem;line-height: 2.9rem;width:22rem;margin-top:2rem;}
.activity-step3{background: url(../img/third_step.png) no-repeat;background-size: 100%;background-position: 0 0;padding:3.8rem 5.7rem 0;height:5.2rem;line-height: 2.9rem;width:22rem;margin-top:1.1rem;}
.activity-step-rule{background: url(../img/activity_rule.png) no-repeat;background-size: 100%;background-position: 0 0;padding:6.4rem 3rem 0;line-height: 2.9rem;width:27rem;margin-top:1.1rem;height:54.3rem;position: relative;}
.activity-light-words{font-size:1.4rem;line-height:2.2rem;color:#fff;word-break: break-all;}
.activity-light-words>span{font-size:2rem;font-weight: 700;}
.activity-step-rule>p.sign{text-align: right;font-size: 1.2rem;color:#fff;position: absolute;width: 28.2rem;bottom:3rem;left:0;right:0;margin:0 auto;}
.activity-line1{width: 1.2rem;height: 12rem;background: url(../img/line1.png);background-size: 100% 100%;position: absolute;z-index: 11;}
.activity-line1.activity-line11{top:8.5rem;left:5.3rem;}
.activity-line1.activity-line12{top:8.5rem;right:5.3rem;}
.activity-line2{width: 1.2rem;height: 8.3rem;background: url(../img/line2.png);background-size: 100% 100%;position: absolute;z-index: 11;}
.activity-line2.activity-line21{top:22.5rem;left:5.3rem;}
.activity-line2.activity-line22{top:22.5rem;right:5.3rem;}
.activity-line3{width: 1.2rem;height: 8.9rem;background: url(../img/line1.png);background-size: 100% 100%;position: absolute;z-index: 11;}
.activity-line3.activity-line31{top:32.9rem;left:5.3rem;}
.activity-line3.activity-line32{top:32.9rem;right:5.3rem;}

/*成功付款页面*/
.content-paid{position:fixed;width:100%;height:100%;top:0;left:0;background-color:#fff;z-index: 1111;}
.suc-paid{height:20.6rem;position: absolute;width:100%;padding-top:2.7rem;bottom:0;border-top:1px #ccc solid;z-index:333;background-color:#fff;}
.suc-paid>p{font-size: 2rem;line-height: 2.8rem;text-align: center;}
.suc-paid>p>span{color:#d0021b;font-size: 2rem;}
.paid-back{width:10rem;height:3rem;border-radius:3px;border:1px solid #3A8D1C;color:#3A8D1C;text-align: center;line-height: 3rem;margin:0 auto;margin-top:3rem;}
.mobile-paid{position: absolute;z-index: 222;bottom:21rem;width:11rem;height:19.4rem;background: url(../img/paysuccess.png);background-size: 100%;left:0;right:0;margin:0 auto;}

.loding-area{width:100%;background-color:#fff;position: relative;overflow: hidden;width:30px;}
.material-loader{position:absolute;top:0;left:0;z-index: 111;right:0;margin:0 auto;text-align: center;}
.material-loader>img{width:2rem;height:2rem;}
.circular{animation:rotate 2s linear infinite;height:60px;position:relative;width:60px;}
.path{stroke-dasharray:1,120;stroke-dashoffset:0;stroke:#B6463A;animation:dash 1.5s ease-in-out infinite,color 6s ease-in-out infinite;stroke-linecap:round}
@keyframes rotate{100%{transform:rotate(360deg)}}
@keyframes dash{0%{stroke-dasharray:1,120;stroke-dashoffset:0}50%{stroke-dasharray:54,120;stroke-dashoffset:-26}100%{stroke-dasharray:54,120;stroke-dashoffset:-74}}
@keyframes color{0%,100%{stroke:#d62d20}40%{stroke:#0057e7}66%{stroke:#008744}80%,90%{stroke:#ffa700}}
